.wrapper {
    background-color: #2b2d42;
    color: #edf2f4;
}

header {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 25px;
    font-weight: 700;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.todo-container {
    height: 65%;
    width: 65%;
    background-color: #8d99ae;
}

.container-title {
  text-align: center;
}
