.wrapper {
    background-color: #2b2d42;
    color: #edf2f4;
}

header {
    text-align: center;
    padding-top: 1.5rem;
}

header h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.todo-container {
    height: 65%;
    width: 65%;
    background-color: #8d99ae;
}

.container-title {
    text-align: center;
}

table {
  margin: 0 auto;
  width: 66%;
}

th {
  text-align: start;
  text-decoration: underline;
  margin-bottom: 2%;
  font-size: large;
}

tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}